:root {
    --primary-color: #013047;
    --secondary-color: #0077b6;
    --tertiary-color: #0096c7;
    --quaternary-color: #00b4d8;
    --quinary-color: #48cae4;
    --senary-color: #90e0ef;
    --septenary-color: #ade8f4;
    --octonary-color: #caf0f8;
    --nonary-color: #e3f2fd;
    --denary-color: #f1faee;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

.guide-widget {
    padding: 15px;
}

.guide-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
}

.guide-loader img {
    width: 50px;
    height: 50px;
}

.lazy-wrapper {
    background-image: url('/front/images/common/placeholder.jpg');
    background-size: cover;
    background-position: center;
    display: inline-block;
    overflow: hidden;
}

img.lazy {
    opacity: 0;
    transition: opacity 0.6s ease;
    display: block;
}

img.lazy.lazy-loaded {
    opacity: 1;
}


.header {
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}


.header .header-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header .header-wrapper .header-logo img {
    height: 30px;
    width: auto;
}

.header .header-wrapper .header-r {
    gap: 15px;
}

.header .header-wrapper .header-r .header-r-icon .icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-color);
}

section {
}


main {
    height: 100%;;
}

section.content {
    min-height: calc(100vh - 100px);
}

.sticky-footer {
    background-color: #fff;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 0 -10px 20px -12px rgba(0, 0, 0, 0.25);
}

.sticky-footer .item {
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: calc(25%);
    position: relative;
    text-align: center;
}

.sticky-footer .item .icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-color);
}

.sticky-footer .item .icon-health {
    fill: #fff;
    background-color: var(--primary-color);
    padding: 7px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -25px;
}

.sticky-footer .item label {
    text-transform: uppercase;
    font-size: 8px;
    border-bottom: solid 2px transparent;
    color: var(--primary-color);
}

.sticky-footer .item.item-health label {
    text-transform: uppercase;
    margin-top: 5px;
}

.sticky-footer .item.active label {
    border-color: var(--primary-color);
}

footer {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #013047;
    margin-top: auto;;
}

footer p {
    margin: 0;
}
