.home-category-widget .hct-breadcrumb {
    gap: 10px;
    padding: 10px 0px;
    align-items: center;
}

.home-category-widget .hct-breadcrumb .arrow-icon svg {
    width: 10px;
    height: 10px;
    fill: var(--primary-color);
}

.home-category-widget .hct-breadcrumb .hct-viewall {
    margin-left: auto;
    color: var(--primary-color);
}

.home-category-widget .hct-row {
    display: flex;
    flex-wrap: nowrap; /* important: no wrap for horizontal scroll */
    overflow-x: auto;
    scroll-snap-type: x proximity;
    -webkit-overflow-scrolling: touch;
    gap: 15px;
    -ms-overflow-style: none; /* IE & old Edge */
    scrollbar-width: none;
}

.home-category-widget .hct-row::-webkit-scrollbar { /* Chrome/Safari/Edge */
    display: none;
}

.home-category-widget .hct-row .hct-item {
    box-sizing: border-box;
    flex: 0 0 calc((100% - (var(15px) * 3)) / 3.5); /* ~28.57% minus 3 gaps */
    scroll-snap-align: start;
    gap: 10px;

}

.home-category-widget .hct-row .hct-item .hct-img {
    width: 130px;
}

.home-category-widget .hct-row .hct-item .hct-img img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
}
